*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  background-color: #333;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-right: 20px;
}

.link {
  color: #fff;
  margin: 8px;
  cursor: pointer;
}

.logo {
  color: #fff;
  margin-left: 15px;
}

footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 48px;
  background-color: #333;
}

.footer-text {
  color: #fff;
  font-weight: bold;
}
